<h1>Diretores</h1>

<% if flash[:notice] %>
  <div style="margin: 10px 0px">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= 'Nenhum diretor(a) cadastrado' if @directors.empty? %>

<% @directors.each do |director| %>
  <strong>Nome: </strong>
  <%= link_to director.name, director %>
  <br>
<% end %>

<br>

<%= link_to 'Novo Diretor', new_director_path %>
